{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
    <table>
    <tr class="row">
        <td>ID</td>  <td>Админ</td> <td>Пользователь</td> <td>Сумма</td> <td>Дата</td>
    </tr>
    {% for log in module.logs %}
        <tr class="row">
            <td>{{ log.id }}</td>  <td><a href="{{ log.get_url_for_admin }}">{{ log.admin }}</a></td> <td><a href="{{ log.get_url_for_user }}">{{ log.user }}</a></td> <td>{{ log.amount }}</td>  <td>{{ log.date_created }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
